* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Zen Tokyo Zoo", cursive;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.header {
  max-height: 20vh;
  overflow: hidden;
  background-color: rgb(255, 202, 56);
  display: flex;
  justify-content: left;
  align-items: center;
}
.header > img {
  height: 100px;
}
.header > h1 {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  color: rgb(248, 72, 60);
  font-size: 3rem;
}

footer {
  text-align: center;
  color: rgb(177, 75, 75);
  position: relative;
  top: 75vh;
}
footer > p {
  font-size: 5rem;
  font-weight: bold;
  color: black;
}
.note-area {
  width: 30vw;
  margin: 10px auto;
}
.note-area > form {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(104, 101, 101);
  box-shadow: 2px 4px 10px rebeccapurple;
  border-radius: 10px;
}
.note-area > form > input {
  height: 60px;
  width: 100%;
  border-radius: 10px;
  border-style: none;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
  padding-left: 10px;
}
.note-area > form > textarea {
  height: 60px;
  max-width: 100%;
  border-radius: 10px;
  border-style: none;
  outline: none;
  padding-left: 10px;
}

.button-icon {
  border-radius: 100%;
  position: relative;
  top: 5px;
  left: 85%;
  width: 48px;
  color: yellowgreen;
}
.note {
  display: inline-block;
  font-size: 2rem;
  margin: 10px;
  border: 2px solid greenyellow;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 300px;

  overflow: hidden;
  box-shadow: 2px 2px 5px 5px rgb(251, 228, 96);
}
.note > p {
  width: -moz-fit-content;
  width: fit-content;
}
